# Copy this file to .env and fill in your values

# Environment Mode
# Valid values: local, staging, production
ENV_MODE=local

#DATABASE
SUPABASE_URL=https://xurxxnlqzzfjkjdfyono.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh1cnh4bmxxenpmamtqZGZ5b25vIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDYwMTQ3MzksImV4cCI6MjA2MTU5MDczOX0.iPRjpnofUquqS4-hX_y5Fxfh_ympmrC8UIt63X3U7SU
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh1cnh4bmxxenpmamtqZGZ5b25vIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0NjAxNDczOSwiZXhwIjoyMDYxNTkwNzM5fQ.fPjExw81J2yfl7xCXR-mXTlGWcSlV47GHOPbf0_gU3Q

# Required for frontend Supabase client
NEXT_PUBLIC_SUPABASE_URL=https://xurxxnlqzzfjkjdfyono.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh1cnh4bmxxenpmamtqZGZ5b25vIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDYwMTQ3MzksImV4cCI6MjA2MTU5MDczOX0.iPRjpnofUquqS4-hX_y5Fxfh_ympmrC8UIt63X3U7SU
NEXT_PUBLIC_BACKEND_URL="http://localhost:8000/api"
NEXT_PUBLIC_URL="http://localhost:3000"
REDIS_HOST="redis-13267.c239.us-east-1-2.ec2.redns.redis-cloud.com"
REDIS_PORT=13267
REDIS_PASSWORD=ACtPG8k5Dyd8Bn7IH8UYYFqBkfvvi6SX
REDIS_SSL=false

# LLM Providers:
# Using OpenRouter as our LLM provider

# Keeping TogetherAI API key for backward compatibility
TOGETHERAI_API_KEY=b797f0a9849f5b9f2f8bb45efeebbb5b81c00f3508573d261c4070d8a7a3b03f
# Keeping Groq API key for backward compatibility
GROQ_API_KEY=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
MODEL_TO_USE=deepseek/deepseek-chat-v3-0324:free

# All other providers are disabled
# ANTHROPIC_API_KEY=
OPENAI_API_KEY=sk-1234efgh5678ijkl1234efgh5678ijkl1234efgh
# AWS_ACCESS_KEY_ID=
# AWS_SECRET_ACCESS_KEY=
# AWS_REGION_NAME=
# OPENROUTER_API_KEY=
OPENROUTER_API_KEY=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

# DATA APIS
RAPID_API_KEY=b42b798cddmshc1ae992da751565p131e1ejsna4f6e57f588e

# WEB SEARCH 
TAVILY_API_KEY=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

# WEB SCRAPE
FIRECRAWL_API_KEY=fc-ab8ac3ef4301494998a54aaae52a609d

# Sandbox container provider:
DAYTONA_API_KEY=dtn_9189546ac5914a66732c21404d2de119bbe19f78c3b572bba09f568827188704
DAYTONA_SERVER_URL="https://app.daytona.io/api"
DAYTONA_TARGET="us"

NOTION_API_TOKEN=ntn_z1193729564cbzZc2ULNX31uHAqberu5tQgdkGc0gcJgCl
NOTION_TASKS_DATABASE_ID=1de04726de1c80488479ec7c466c57d0

# Google API credentials
GOOGLE_CREDENTIALS_FILE=C:/Users/Arvind/Downloads/client_secret_695758909652-iam5r9ra9vfhateb4mkmhm9kfv05jvp9.apps.googleusercontent.com.json
GOOGLE_TOKEN_FILE=C:/Users/Arvind/Jarvis3.o/suna/tokens/google_token.json